.card img {
  width: 100px;
}

.cards {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.card {
  width: 200px;
  border-radius: 15px;
  /*box-shadow: 0 0 4px rgb(70,32,26, 0.3);*/
  text-align: center;
  padding: 20px;
  border: 3px solid rgb(70,32,26, 0.2);
  height: 200px;
  margin: 20px;
}

.card p {
  color: #000;
}
